.flex-master-container{
    display:flex;
    background:rgba(25,124,234,0.5);
    width:100%;
    height:800px;
}
.flex-left-container{
    background:rgba(255,123,234,0.7);
    width:20%;
    height:100%;
}
.flex-right-container{
    justify-content: space-around;
    width:100%;
    height:100%;
}
.flex-item{
    background:rgba(250,250,24,0.7);
    width:100%;
    height:30%;
    margin-bottom:3%;
}
.flexibleRow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:2%;
}
.flex-inner-item{
    background:rgba(12,23,45,1);
    width:20%;
    height:80%;
    
}
.inner-items{
    
}